$oncokb-darker-blue: #064785;
$oncokb-dark-blue: #1c75cd;
$oncokb-orange: #ffa500;
$oncokb-border-color: #ddd;

// Colors of Oncogenicity
$oncokb-color-oncogenic: #007FFF;
$oncokb-color-neutral: #696969;
$oncokb-color-inconclusive: #AAAAAA;
$oncokb-color-vus: #696969;
$oncokb-color-unknown: #CCCCCC;

// Colors of Therapeutic Levels
$oncokb-color-level-1: #33A02C;
$oncokb-color-level-2: #1F78B4;
$oncokb-color-level-2A: $oncokb-color-level-2;
$oncokb-color-level-2B: #80B1D3;
$oncokb-color-level-3: #984EA3;
$oncokb-color-level-3A: $oncokb-color-level-3;
$oncokb-color-level-3B: #BE98CE;
$oncokb-color-level-4: #424242;
$oncokb-color-level-R1: #EE3424;
$oncokb-color-level-R2: #F79A92;
$oncokb-color-level-R3: #FCD6D3;

// Colors of Diagnostic Levels
$oncokb-color-level-Dx1: #33A02C;
$oncokb-color-level-Dx2: #1F78B4;
$oncokb-color-level-Dx3: #984EA3;

// Colors of Prognostic Levels
$oncokb-color-level-Px1: #33A02C;
$oncokb-color-level-Px2: #1F78B4;
$oncokb-color-level-Px3: #984EA3;

