@import "vars";
@import "mixins";

.oncokb {
  // Oncogenicity colors
  &.oncogenic, &.likely-oncogenic, &.predicted-oncogenic {
    color: $oncokb-color-oncogenic;
  }

  &.neutral, &.likely-neutral {
    color: $oncokb-color-neutral;
  }

  &.inconclusive {
    color: $oncokb-color-inconclusive;
  }

  &.vus {
    color: $oncokb-color-vus;
  }

  &.unknown {
    color: $oncokb-color-unknown;
  }

  // Level colors


  &.level-1 {
    color: $oncokb-color-level-1;
  }

  &.level-2 {
    color: $oncokb-color-level-2;
  }

  &.level-3 {
    color: $oncokb-color-level-3;
  }

  &.level-4 {
    color: $oncokb-color-level-4;
  }

  &.level-R1 {
    color: $oncokb-color-level-R1;
  }

  &.level-R2 {
    color: $oncokb-color-level-R2;
  }

  &.level-R3 {
    color: $oncokb-color-level-R3;
  }

  &.level-Dx1 {
    color: $oncokb-color-level-Dx1;
  }

  &.level-Dx2 {
    color: $oncokb-color-level-Dx2;
  }

  &.level-Dx3 {
    color: $oncokb-color-level-Dx3;
  }

  &.level-Px1 {
    color: $oncokb-color-level-Px1;
  }

  &.level-Px2 {
    color: $oncokb-color-level-Px2;
  }

  &.level-Px3 {
    color: $oncokb-color-level-Px3;
  }

  &.level-icon {
    background-image: url('images/v4/level-icons.png');
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    line-height: 16px;
    background-size: 120px;
    margin: 0 3px;
    display: block;

    &.level-1 {
      @include level-icon-background-position(1, 1);
    }

    &.level-2 {
      @include level-icon-background-position(2, 1);
    }

    &.level-3 {
      @include level-icon-background-position(3, 1);
    }

    &.level-4 {
      @include level-icon-background-position(4, 1);
    }

    &.level-R1 {
      @include level-icon-background-position(1, 2);
    }

    &.level-R2 {
      @include level-icon-background-position(2, 2);
    }

    &.level-R3 {
      @include level-icon-background-position(3, 2);
    }

    &.level-Dx1 {
      @include level-icon-background-position(1, 3);
    }

    &.level-Dx2 {
      @include level-icon-background-position(2, 3);
    }

    &.level-Dx3 {
      @include level-icon-background-position(3, 3);
    }

    &.level-Px1 {
      @include level-icon-background-position(1, 5);
    }

    &.level-Px2 {
      @include level-icon-background-position(2, 5);
    }

    &.level-Px3 {
      @include level-icon-background-position(3, 5);
    }
  }

  &.annotation-icon {
    background-image: url('images/v4/annotation-icons.png');
    width: 22px;
    height: 22px;
    line-height: 22px;
    // background size is the same of corresponding to the width of svg file
    -webkit-background-size: 610px;
    background-size: 610px;
    display: block !important;

    &.oncogenic {
      @include annotation-icon-background-position-y(1);
    }

    &.neutral {
      @include annotation-icon-background-position-y(2);
    }

    &.inconclusive {
      @include annotation-icon-background-position-y(3);
    }

    &.vus {
      @include annotation-icon-background-position-y(4);
    }

    &.unknown {
      @include annotation-icon-background-position-y(5);
    }

    &.no-level {
      @include annotation-icon-background-position-x(1);
    }

    &.level-1 {
      @include annotation-icon-background-position-x(2);
    }

    &.level-2 {
      @include annotation-icon-background-position-x(3);
    }

    &.level-3 {
      @include annotation-icon-background-position-x(4);
    }

    &.level-4 {
      @include annotation-icon-background-position-x(5);
    }

    &.level-R1 {
      @include annotation-icon-background-position-x(6);
    }

    &.level-1-R1 {
      @include annotation-icon-background-position-x(7);
    }

    &.level-2-R1 {
      @include annotation-icon-background-position-x(8);
    }

    &.level-3-R1 {
      @include annotation-icon-background-position-x(9);
    }

    &.level-4-R1 {
      @include annotation-icon-background-position-x(10);
    }

    &.level-R2 {
      @include annotation-icon-background-position-x(11);
    }

    &.level-1-R2 {
      @include annotation-icon-background-position-x(12);
    }

    &.level-2-R2 {
      @include annotation-icon-background-position-x(13);
    }

    &.level-3-R2 {
      @include annotation-icon-background-position-x(14);
    }

    &.level-4-R2 {
      @include annotation-icon-background-position-x(15);
    }

    &.level-R3 {
      @include annotation-icon-background-position-x(16);
    }

    &.level-1-R3 {
      @include annotation-icon-background-position-x(17);
    }

    &.level-2-R3 {
      @include annotation-icon-background-position-x(18);
    }

    &.level-3-R3 {
      @include annotation-icon-background-position-x(19);
    }

    &.level-4-R3 {
      @include annotation-icon-background-position-x(20);
    }
  }
}
