@import "vars";
@import "mixins";

.oncokb {
  // Oncogenicity colors
  &.oncogenic, &.likely-oncogenic, &.resistance {
    color: $oncokb-color-oncogenic;
  }

  &.neutral, &.likely-neutral {
    color: $oncokb-color-neutral;
  }

  &.inconclusive {
    color: $oncokb-color-inconclusive;
  }

  &.vus {
    color: $oncokb-color-vus;
  }

  &.unknown {
    color: $oncokb-color-unknown;
  }

  // Level colors
  &.level-1 {
    color: $oncokb-color-level-1;
  }

  &.level-2 {
    color: $oncokb-color-level-2;
  }

  &.level-3 {
    color: $oncokb-color-level-3;
  }

  &.level-3A {
    color: $oncokb-color-level-3A;
  }

  &.level-3B {
    color: $oncokb-color-level-3B;
  }

  &.level-4 {
    color: $oncokb-color-level-4;
  }

  &.level-R1 {
    color: $oncokb-color-level-R1;
  }

  &.level-R2 {
    color: $oncokb-color-level-R2;
  }

  &.level-R3 {
    color: $oncokb-color-level-R3;
  }

  &.level-Dx1 {
    color: $oncokb-color-level-Dx1;
  }

  &.level-Dx2 {
    color: $oncokb-color-level-Dx2;
  }

  &.level-Dx3 {
    color: $oncokb-color-level-Dx3;
  }

  &.level-Px1 {
    color: $oncokb-color-level-Px1;
  }

  &.level-Px2 {
    color: $oncokb-color-level-Px2;
  }

  &.level-Px3 {
    color: $oncokb-color-level-Px3;
  }

  &.icon {
    @include icon-size();

    // Scale for 2x
    &.s2 {
      @include icon-size(2);
    }

    // Scale for 3x
    &.s3 {
      @include icon-size(3);
    }
  }

  &.annotation-icon {
    background-image: url('images/v4/annotation-icons.png');
    width: 22px;
    height: 22px;
    line-height: 22px;
    // background size is the same of corresponding to the width of svg file
    background-size: 730px;
    display: block !important;

    &.oncogenic, &.likely-oncogenic, &.resistance {
      @include annotation-icon-background-position-y(1);
    }

    &.neutral, &.likely-neutral {
      @include annotation-icon-background-position-y(2);
    }

    &.inconclusive {
      @include annotation-icon-background-position-y(3);
    }

    &.vus {
      @include annotation-icon-background-position-y(4);
    }

    &.unknown {
      @include annotation-icon-background-position-y(5);
    }

    &.no-level {
      @include annotation-icon-background-position-x(1);
    }

    &.level-1 {
      @include annotation-icon-background-position-x(2);
    }

    &.level-2 {
      @include annotation-icon-background-position-x(3);
    }

    &.level-3, &.level-3A {
      @include annotation-icon-background-position-x(4);
    }

    &.level-3B {
      @include annotation-icon-background-position-x(5);
    }

    &.level-4 {
      @include annotation-icon-background-position-x(6);
    }

    &.level-R1 {
      @include annotation-icon-background-position-x(7);
    }

    &.level-1-R1 {
      @include annotation-icon-background-position-x(8);
    }

    &.level-2-R1 {
      @include annotation-icon-background-position-x(9);
    }

    &.level-3-R1, &.level-3A-R1 {
      @include annotation-icon-background-position-x(10);
    }

    &.level-3B-R1 {
      @include annotation-icon-background-position-x(11);
    }

    &.level-4-R1 {
      @include annotation-icon-background-position-x(12);
    }

    &.level-R2 {
      @include annotation-icon-background-position-x(13);
    }

    &.level-1-R2 {
      @include annotation-icon-background-position-x(14);
    }

    &.level-2-R2 {
      @include annotation-icon-background-position-x(15);
    }

    &.level-3-R2, &.level-3A-R2 {
      @include annotation-icon-background-position-x(16);
    }

    &.level-3B-R2 {
      @include annotation-icon-background-position-x(17);
    }

    &.level-4-R2 {
      @include annotation-icon-background-position-x(18);
    }

    &.level-R3 {
      @include annotation-icon-background-position-x(19);
    }

    &.level-1-R3 {
      @include annotation-icon-background-position-x(20);
    }

    &.level-2-R3 {
      @include annotation-icon-background-position-x(21);
    }

    &.level-3-R3, &.level-3A-R3 {
      @include annotation-icon-background-position-x(22);
    }

    &.level-3B-R3 {
      @include annotation-icon-background-position-x(23);
    }

    &.level-4-R3 {
      @include annotation-icon-background-position-x(24);
    }
  }
}
